{
	"semi": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 100,
	"singleQuote": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"no-mixed-spaces-and-tabs": ["error"],
	"no-unused-vars": ["error"],
	"endOfLine": "auto"
}
